header{
    background-image: url(img/wall.png);
    font-family:"Edu TAS Beginner", sans-serif;
}

body{
    background-image: url(img/cork.png);
}

main{
    font-family: "Sometype Mono", monospace;
}

.container{
    max-width: 1200px;
}

#container-dnone{
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    position: fixed;
    align-content: center;
    justify-items: anchor-center;
    padding: 50px;
}

.my-container{
    max-width: 600px;
}

/* .my-container{
    max-width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -70%;
} */

#my-error{
    width: 80%;
}